In [1]:
import pandas as pd
import numpy as np
import datetime
import numba

In [2]:
import tqdm

Preprocess functions. Also can be imported from preprocess.py

In [3]:
# All preprocessing in one function
def preprocess_deals_data(data, vol_bins=None, vol_labels=None):
    '''
    Preprocess dataframe with deals
    Consolidate market orders, returns new dataframe
    Add features: Day of week, Hour, Time
    '''
    # aggregate to obtain market order instant impact
    # deals with the same time are caused by one market order
    data = data.groupby(by=['Time', 'AGGRESSOR_SIDE'], as_index=False) \
        .agg({'PRICE': ['min', 'max'], 'SIZE': 'sum', })
    
    # Flatten columns (!)
    data.columns = ['_'.join(z) if z[1]!='' else z[0] for z in data.columns]
    
    # Add datetime features
    data['Date'] = data['Time'].map(lambda d: d.date())  # only date
    data['TimeOnly'] = data['Time'].map(lambda d: d.time())  # only time
    data['DOW'] = data['Time'].map(lambda d: d.isoweekday())  # day of week
    data['H'] = data['Time'].map(lambda d: d.hour)  # hour (for filtering)
    
    # Impact calculation
    data['Impact'] = data['PRICE_max'] - data['PRICE_min']

    return data

In [4]:
@numba.njit()
def process_day(order_time, time, bid, ask):
    '''
    Function gets order time array (from deals file), and market bid, ask and time array (from LOB file)
    For each element in order time array it finds corresponding bid and ask
    Returns arrays of bids ands asks for market orders
    '''
    j = 0
    res_bid = np.zeros_like(order_time, dtype=np.float32)
    res_ask = np.zeros_like(order_time, dtype=np.float32)
    for i, t in enumerate(order_time):
        while time[j] < t:
            j += 1
        res_bid[i] = bid[j]
        res_ask[i] = ask[j]

    return res_bid, res_ask

In [5]:
def extract_day(dt, orders, LOB_folder, LOB_prefix):
    '''
    Function gets date, opens corresponding file with LOB history
    and return best bid, best ask and time arrays
    Also return order history time array from deals file (all in numpy format for numba)
    '''
    orders_time = orders[orders['Date'] == dt.date()]['Time'].to_numpy()
    
    fname = LOB_folder + LOB_prefix + dt.strftime('%m%d') + '.feather'  
    lob_df = pd.read_feather(fname)
    time_lob = lob_df['Time'].to_numpy()
    bid_lob = lob_df['BID_PRICE1'].to_numpy()
    ask_lob = lob_df['ASK_PRICE1'].to_numpy()
    return orders_time, time_lob, bid_lob, ask_lob

In [6]:
def date_range(start_date, end_date, only_workdays=False):
    '''
    Simple generator to obtain dates in defined date range
    '''
    for i in range(int((end_date - start_date).days) + 1):
        dt = start_date + datetime.timedelta(days=i)
        if only_workdays and dt.isoweekday() in [6, 7]:
            continue
        yield start_date + datetime.timedelta(days=i)

In [7]:
def add_lob_prices(market_orders, start_date, end_date, LOB_folder, LOB_prefix):
    '''
    Function processes market order dataframe and add bid and ask columns
    Returns new dataframe
    '''
    for dt in tqdm.tqdm_notebook(date_range(start_date, end_date, only_workdays=True), 
                                 total=int((end_date-start_date).days)+1):
        fname = LOB_folder + LOB_prefix + dt.strftime('%m%d') + '.feather'
        print(fname)
        try:
            lob_df = pd.read_feather(fname)
        except FileNotFoundError:
            print(f"{dt} skipped")
            continue

        if lob_df.shape[0] == 0:
            print(f"{fname} no quotes")
            continue

        order_time, lob_time, lob_bid, lob_ask = extract_day(dt, market_orders, LOB_folder, LOB_prefix)
        order_bid, order_ask = process_day(order_time, lob_time, lob_bid, lob_ask)

        market_orders.loc[market_orders['Date'] == dt.date(), 'BID'] = order_bid
        market_orders.loc[market_orders['Date'] == dt.date(), 'ASK'] = order_ask
    
    market_orders['MID'] = (market_orders['BID'] + market_orders['ASK']) / 2
    market_orders['Spread'] = np.round(market_orders['ASK'] - market_orders['BID'], decimals=4)
    
    return market_orders

## USDRUB data preprocessing

In [8]:
data = pd.read_feather('Data/USDRUB_TOM_trades.feather')  # load market order deals file

In [9]:
data[:5]

                        Time    PRICE  SIZE AGGRESSOR_SIDE  TRADE_VALUE
0 2021-02-01 10:00:00.271880  75.5975   100              B    7559750.0
1 2021-02-01 10:00:00.271880  75.6000   500              B   37800000.0
2 2021-02-01 10:00:00.271880  75.6700    63              B    4767210.0
3 2021-02-01 10:00:00.304507  75.6625    10              B     756625.0
4 2021-02-01 10:00:00.346729  75.6575     3              B     226972.5

In [10]:
market_orders = preprocess_deals_data(data)  # grouping and add features
market_orders[:5]

,Time,AGGRESSOR_SIDE,PRICE_min,PRICE_max,SIZE_sum,Date,TimeOnly,DOW,H,Impact
0,2021-02-01 10:00:00.271880,B,75.5975,75.6700,663,2021-02-01,10:00:00.271880,1,10,0.0725
1,2021-02-01 10:00:00.304507,B,75.6625,75.6625,10,2021-02-01,10:00:00.304507,1,10,0.0000
2,2021-02-01 10:00:00.346729,B,75.6575,75.6575,3,2021-02-01,10:00:00.346729,1,10,0.0000
3,2021-02-01 10:00:00.360369,S,75.6025,75.6025,20,2021-02-01,10:00:00.360369,1,10,0.0000
4,2021-02-01 10:00:00.377261,S,75.6025,75.6025,4,2021-02-01,10:00:00.377261,1,10,0.0000

In [11]:
print(market_orders['Time'].min())
print(market_orders['Time'].max())
print(market_orders.shape)

2021-02-01 10:00:00.271880
2021-10-06 23:49:57.338028
(4912952, 10)

In [12]:
# Add bid and ask prices for a moments of deals from LOB history files
LOB_folder = 'Data/LOB_USDRUB/'
LOB_prefix = 'LOB_'
start_date = datetime.datetime.strptime('2021-02-01', '%Y-%m-%d')
end_date = datetime.datetime.strptime('2021-10-06', '%Y-%m-%d')

In [13]:
market_orders = add_lob_prices(market_orders, start_date, end_date, LOB_folder, LOB_prefix)

C:\Users\Sharp.Ra\AppData\Local\Temp/ipykernel_19712/3349744981.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for dt in tqdm.tqdm_notebook(date_range(start_date, end_date, only_workdays=True),

  0%|          | 0/248 [00:00<?, ?it/s]

Data/LOB_USDRUB/LOB_0201.feather
Data/LOB_USDRUB/LOB_0202.feather
Data/LOB_USDRUB/LOB_0203.feather
Data/LOB_USDRUB/LOB_0204.feather
Data/LOB_USDRUB/LOB_0205.feather
Data/LOB_USDRUB/LOB_0208.feather
Data/LOB_USDRUB/LOB_0209.feather
Data/LOB_USDRUB/LOB_0210.feather
Data/LOB_USDRUB/LOB_0211.feather
Data/LOB_USDRUB/LOB_0212.feather
Data/LOB_USDRUB/LOB_0215.feather
Data/LOB_USDRUB/LOB_0216.feather
Data/LOB_USDRUB/LOB_0217.feather
Data/LOB_USDRUB/LOB_0218.feather
Data/LOB_USDRUB/LOB_0219.feather
Data/LOB_USDRUB/LOB_0222.feather
Data/LOB_USDRUB/LOB_0223.feather
Data/LOB_USDRUB/LOB_0223.feather no quotes
Data/LOB_USDRUB/LOB_0224.feather
Data/LOB_USDRUB/LOB_0225.feather
Data/LOB_USDRUB/LOB_0226.feather
Data/LOB_USDRUB/LOB_0301.feather
Data/LOB_USDRUB/LOB_0302.feather
Data/LOB_USDRUB/LOB_0303.feather
Data/LOB_USDRUB/LOB_0304.feather
Data/LOB_USDRUB/LOB_0305.feather
Data/LOB_USDRUB/LOB_0308.feather
Data/LOB_USDRUB/LOB_0308.feather no quotes
Data/LOB_USDRUB/LOB_0309.feather
Data/LOB_USDRUB/LOB_0310.feather
Data/LOB_USDRUB/LOB_0311.feather
Data/LOB_USDRUB/LOB_0312.feather
Data/LOB_USDRUB/LOB_0315.feather
Data/LOB_USDRUB/LOB_0316.feather
Data/LOB_USDRUB/LOB_0317.feather
Data/LOB_USDRUB/LOB_0318.feather
Data/LOB_USDRUB/LOB_0319.feather
Data/LOB_USDRUB/LOB_0322.feather
Data/LOB_USDRUB/LOB_0323.feather
Data/LOB_USDRUB/LOB_0324.feather
Data/LOB_USDRUB/LOB_0325.feather
Data/LOB_USDRUB/LOB_0326.feather
Data/LOB_USDRUB/LOB_0329.feather
Data/LOB_USDRUB/LOB_0330.feather
Data/LOB_USDRUB/LOB_0330.feather no quotes
Data/LOB_USDRUB/LOB_0331.feather
Data/LOB_USDRUB/LOB_0401.feather
Data/LOB_USDRUB/LOB_0402.feather
Data/LOB_USDRUB/LOB_0405.feather
Data/LOB_USDRUB/LOB_0406.feather
Data/LOB_USDRUB/LOB_0407.feather
Data/LOB_USDRUB/LOB_0408.feather
Data/LOB_USDRUB/LOB_0409.feather
Data/LOB_USDRUB/LOB_0412.feather
Data/LOB_USDRUB/LOB_0413.feather
Data/LOB_USDRUB/LOB_0414.feather
Data/LOB_USDRUB/LOB_0415.feather
Data/LOB_USDRUB/LOB_0416.feather
Data/LOB_USDRUB/LOB_0419.feather
Data/LOB_USDRUB/LOB_0420.feather
Data/LOB_USDRUB/LOB_0421.feather
Data/LOB_USDRUB/LOB_0422.feather
Data/LOB_USDRUB/LOB_0423.feather
Data/LOB_USDRUB/LOB_0426.feather
Data/LOB_USDRUB/LOB_0427.feather
Data/LOB_USDRUB/LOB_0428.feather
Data/LOB_USDRUB/LOB_0429.feather
Data/LOB_USDRUB/LOB_0430.feather
Data/LOB_USDRUB/LOB_0503.feather
Data/LOB_USDRUB/LOB_0503.feather no quotes
Data/LOB_USDRUB/LOB_0504.feather
Data/LOB_USDRUB/LOB_0505.feather
Data/LOB_USDRUB/LOB_0506.feather
Data/LOB_USDRUB/LOB_0507.feather
Data/LOB_USDRUB/LOB_0510.feather
Data/LOB_USDRUB/LOB_0511.feather
Data/LOB_USDRUB/LOB_0512.feather
Data/LOB_USDRUB/LOB_0513.feather
Data/LOB_USDRUB/LOB_0514.feather
Data/LOB_USDRUB/LOB_0517.feather
Data/LOB_USDRUB/LOB_0518.feather
Data/LOB_USDRUB/LOB_0519.feather
Data/LOB_USDRUB/LOB_0520.feather
Data/LOB_USDRUB/LOB_0521.feather
Data/LOB_USDRUB/LOB_0524.feather
Data/LOB_USDRUB/LOB_0525.feather
Data/LOB_USDRUB/LOB_0526.feather
Data/LOB_USDRUB/LOB_0527.feather
Data/LOB_USDRUB/LOB_0528.feather
Data/LOB_USDRUB/LOB_0531.feather
Data/LOB_USDRUB/LOB_0601.feather
Data/LOB_USDRUB/LOB_0602.feather
Data/LOB_USDRUB/LOB_0603.feather
Data/LOB_USDRUB/LOB_0604.feather
Data/LOB_USDRUB/LOB_0607.feather
Data/LOB_USDRUB/LOB_0608.feather
Data/LOB_USDRUB/LOB_0609.feather
Data/LOB_USDRUB/LOB_0610.feather
Data/LOB_USDRUB/LOB_0611.feather
Data/LOB_USDRUB/LOB_0614.feather
Data/LOB_USDRUB/LOB_0615.feather
Data/LOB_USDRUB/LOB_0616.feather
Data/LOB_USDRUB/LOB_0617.feather
Data/LOB_USDRUB/LOB_0618.feather
Data/LOB_USDRUB/LOB_0621.feather
Data/LOB_USDRUB/LOB_0622.feather
Data/LOB_USDRUB/LOB_0623.feather
Data/LOB_USDRUB/LOB_0624.feather
Data/LOB_USDRUB/LOB_0625.feather
Data/LOB_USDRUB/LOB_0628.feather
Data/LOB_USDRUB/LOB_0629.feather
Data/LOB_USDRUB/LOB_0630.feather
Data/LOB_USDRUB/LOB_0701.feather
Data/LOB_USDRUB/LOB_0702.feather
Data/LOB_USDRUB/LOB_0705.feather
Data/LOB_USDRUB/LOB_0706.feather
Data/LOB_USDRUB/LOB_0707.feather
Data/LOB_USDRUB/LOB_0708.feather
Data/LOB_USDRUB/LOB_0709.feather
Data/LOB_USDRUB/LOB_0712.feather
Data/LOB_USDRUB/LOB_0713.feather
Data/LOB_USDRUB/LOB_0714.feather
Data/LOB_USDRUB/LOB_0715.feather
Data/LOB_USDRUB/LOB_0716.feather
Data/LOB_USDRUB/LOB_0719.feather
Data/LOB_USDRUB/LOB_0720.feather
Data/LOB_USDRUB/LOB_0721.feather
Data/LOB_USDRUB/LOB_0722.feather
Data/LOB_USDRUB/LOB_0723.feather
Data/LOB_USDRUB/LOB_0726.feather
Data/LOB_USDRUB/LOB_0727.feather
Data/LOB_USDRUB/LOB_0728.feather
Data/LOB_USDRUB/LOB_0729.feather
Data/LOB_USDRUB/LOB_0730.feather
Data/LOB_USDRUB/LOB_0802.feather
Data/LOB_USDRUB/LOB_0803.feather
Data/LOB_USDRUB/LOB_0804.feather
Data/LOB_USDRUB/LOB_0805.feather
Data/LOB_USDRUB/LOB_0806.feather
Data/LOB_USDRUB/LOB_0809.feather
Data/LOB_USDRUB/LOB_0810.feather
Data/LOB_USDRUB/LOB_0811.feather
Data/LOB_USDRUB/LOB_0812.feather
Data/LOB_USDRUB/LOB_0813.feather
Data/LOB_USDRUB/LOB_0816.feather
Data/LOB_USDRUB/LOB_0817.feather
Data/LOB_USDRUB/LOB_0818.feather
Data/LOB_USDRUB/LOB_0819.feather
Data/LOB_USDRUB/LOB_0820.feather
Data/LOB_USDRUB/LOB_0823.feather
Data/LOB_USDRUB/LOB_0824.feather
Data/LOB_USDRUB/LOB_0825.feather
Data/LOB_USDRUB/LOB_0826.feather
Data/LOB_USDRUB/LOB_0827.feather
Data/LOB_USDRUB/LOB_0830.feather
Data/LOB_USDRUB/LOB_0831.feather
Data/LOB_USDRUB/LOB_0901.feather
Data/LOB_USDRUB/LOB_0902.feather
Data/LOB_USDRUB/LOB_0903.feather
Data/LOB_USDRUB/LOB_0906.feather
Data/LOB_USDRUB/LOB_0907.feather
Data/LOB_USDRUB/LOB_0908.feather
Data/LOB_USDRUB/LOB_0909.feather
Data/LOB_USDRUB/LOB_0910.feather
Data/LOB_USDRUB/LOB_0913.feather
Data/LOB_USDRUB/LOB_0914.feather
Data/LOB_USDRUB/LOB_0915.feather
Data/LOB_USDRUB/LOB_0916.feather
Data/LOB_USDRUB/LOB_0917.feather
Data/LOB_USDRUB/LOB_0920.feather
Data/LOB_USDRUB/LOB_0921.feather
Data/LOB_USDRUB/LOB_0922.feather
Data/LOB_USDRUB/LOB_0923.feather
Data/LOB_USDRUB/LOB_0923.feather no quotes
Data/LOB_USDRUB/LOB_0924.feather
Data/LOB_USDRUB/LOB_0927.feather
Data/LOB_USDRUB/LOB_0928.feather
Data/LOB_USDRUB/LOB_0929.feather
Data/LOB_USDRUB/LOB_0930.feather
Data/LOB_USDRUB/LOB_1001.feather
Data/LOB_USDRUB/LOB_1004.feather
Data/LOB_USDRUB/LOB_1005.feather
Data/LOB_USDRUB/LOB_1006.feather

In [14]:
market_orders[:5]

,Time,AGGRESSOR_SIDE,PRICE_min,PRICE_max,SIZE_sum,Date,TimeOnly,DOW,H,Impact,BID,ASK,MID,Spread
0,2021-02-01 10:00:00.271880,B,75.5975,75.6700,663,2021-02-01,10:00:00.271880,1,10,0.0725,75.565002,75.599998,75.582504,0.0350
1,2021-02-01 10:00:00.304507,B,75.6625,75.6625,10,2021-02-01,10:00:00.304507,1,10,0.0000,75.567497,75.662498,75.614998,0.0950
2,2021-02-01 10:00:00.346729,B,75.6575,75.6575,3,2021-02-01,10:00:00.346729,1,10,0.0000,75.602501,75.657501,75.630005,0.0550
3,2021-02-01 10:00:00.360369,S,75.6025,75.6025,20,2021-02-01,10:00:00.360369,1,10,0.0000,75.602501,75.625000,75.613754,0.0225
4,2021-02-01 10:00:00.377261,S,75.6025,75.6025,4,2021-02-01,10:00:00.377261,1,10,0.0000,75.602501,75.639999,75.621246,0.0375

In [21]:
# Save results
market_orders.to_feather('market_orders_USDRUB.feather')

## EURRUB data preprocessing

In [22]:
data = pd.read_feather('Data/EURRUB_TOM_trades.feather')

In [23]:
data[:5]

                        Time    PRICE  SIZE AGGRESSOR_SIDE
0 2021-02-01 10:00:01.987427  91.7075   200              B
1 2021-02-01 10:00:01.987427  91.7075   293              B
2 2021-02-01 10:00:03.885514  91.7100    30              B
3 2021-02-01 10:00:04.614574  91.7000     1              S
4 2021-02-01 10:00:04.674547  91.5850     6              S

In [24]:
market_orders_eur = preprocess_deals_data(data)
market_orders_eur[:5]

,Time,AGGRESSOR_SIDE,PRICE_min,PRICE_max,SIZE_sum,Date,TimeOnly,DOW,H,Impact
0,2021-02-01 10:00:01.987427,B,91.7075,91.7075,493,2021-02-01,10:00:01.987427,1,10,0.0
1,2021-02-01 10:00:03.885514,B,91.7100,91.7100,30,2021-02-01,10:00:03.885514,1,10,0.0
2,2021-02-01 10:00:04.614574,S,91.7000,91.7000,1,2021-02-01,10:00:04.614574,1,10,0.0
3,2021-02-01 10:00:04.674547,S,91.5850,91.5850,6,2021-02-01,10:00:04.674547,1,10,0.0
4,2021-02-01 10:00:04.747542,B,91.8050,91.8050,3,2021-02-01,10:00:04.747542,1,10,0.0

In [25]:
print(market_orders_eur['Time'].min())
print(market_orders_eur['Time'].max())
print(market_orders_eur.shape)

2021-02-01 10:00:01.987427
2021-10-20 23:47:25.917780
(857010, 10)

In [26]:
market_orders_eur.to_feather('market_orders_EURRUB.feather')

Unfortunately, I have no LOB data to use this market order book in tests.